<%= render "partials/navbar.html.erb" %>

<div class="container my-5">
  <div class="row pb-3 align-items-center">
    <div class="col">
      <h1>Events</h1>
    </div>

    <div class="col d-flex justify-content-end">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a id="events-upcoming-link" class="nav-link <%= !@past ? "active" : nil %>" aria-current="page" href="#">Upcoming</a>
        </li>
        <li class="nav-item">
          <a id="events-past-link" class="nav-link <%= @past ? "active" : nil %>" aria-current="page" href="#">Past</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/events/new">Create Event +</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="divider"></div>

  <% @events.in_groups_of(3) do |event_group| %>
    <div class="row">
      <% event_group.each do |event| %>
        <% if event %>
          <div class="col-lg-4">
            <div class="mx-auto border rounded p-3 mt-4">
              <div id="event<%= event.id %>" class="carousel slide mb-4" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <% event.event_images.each_with_index do |event_image, index| %>
                    <button type="button" data-bs-target="#event<%= event.id %>" data-bs-slide-to="<%= index %>" class="<%= index == 0 ? "active" : nil %>" aria-current="true" aria-label="Slide <%= index %>"></button>
                  <% end %>
                </div>

                <div class="carousel-inner">
                  <% event.event_images.each_with_index do |event_image, index| %>
                    <div class="carousel-item <%= index == 0 ? "active" : nil %>">
                      <%= image_tag event_image.variant(resize_to_fill: [800, 800, { gravity: 'center' }]), class: "d-block w-100", alt: "Event Image #{event_image.id}" %>
                    </div>
                  <% end %>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#event<%= event.id %>" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#event<%= event.id %>" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

              <h3><%= event.name %></h3>

              <ul class="list-unstyled p-0 mt-4">
                <li>
                  <span class="fw-bold">Organizer</span> <i class="fa fa-user"></i>: <%= event.user.first_name %> <%= event.user.last_name %>
                </li>
                <li>
                  <span class="fw-bold">Time</span> <i class="fa fa-clock-o"></i>: <span format-date><%= event.event_date %></span>
                </li>
                <li>
                  <span class="fw-bold">Total Spots</span> <i class="fa fa-list-alt"></i>: <%= event.total_spots_remaining %>
                </li>
                <li>
                  <span class="fw-bold">Cost</span> <i class="fa fa-dollar"></i>: <%= event.cost %>
                </li>
              </ul>

              <p class="fw-bold">Description:</p>

              <p><%= event.description %></p>

              <div>
                <a href="/events/<%= event.id %>" class="btn btn-success">Learn More</a>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>